{% extends "MyAppUserBundle:Admin:Admin.html.twig" %}
{% block contenu %}
    <div  id="kilma"> <h1>Ajouter un stade : </h1> </div> <br><br> <br>
   <div>
    {{ form(form) }}
    {{ form_errors(form) }}
   </div>
    </div>
{% endblock%}